<br />

<div class="container">
     <div class="columns">
        <div class="column is-1">
            <div class="field">
                <input id="switchColorDefault" type="checkbox" name="switchColorDefault" class="switch" [(ngModel)]="on" (ngModelChange)="onChanged($event)" checked="checked" />
                <label for="switchColorDefault"></label>
            </div>
        </div>
    </div>

    <div class="column">
        <app-oscillator></app-oscillator>
        <app-delay></app-delay>
        <app-chorus></app-chorus>
    </div>
</div>
