.column {
    height: 100px;
}

.slider_wrap {
    float: left;
    width: 50px;
}
.slider {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}

.type_wrap {
    float: left;
    width: 100px;
}