<div class="slider_wrap">
    <input class="slider" step="1" min="-50" max="0" value="0" type="range" orient="vertical" [(ngModel)]="volume" (ngModelChange)="volumeChanged($event)" />
</div>

<div class="type_wrap">                  
    <div class="field">
        <input id="sine" type="radio" name="type" value="sine" [(ngModel)]="type" (ngModelChange)="oscTypeChanged($event)" checked />
        <label for="sine">Sine</label>
    </div>

    <div class="field">
        <input id="square" type="radio" name="type" value="square" [(ngModel)]="type" (ngModelChange)="oscTypeChanged($event)" />
        <label for="square">Square</label>
    </div>

    <div class="field">
        <input id="sawtooth" type="radio" name="type" value="sawtooth" [(ngModel)]="type" (ngModelChange)="oscTypeChanged($event)" />
        <label for="sawtooth">Sawtooth</label>
    </div>

    <div class="field">
        <input id="triangle" type="radio" name="type" value="triangle" [(ngModel)]="type" (ngModelChange)="oscTypeChanged($event)" />
        <label for="triangle">Triangle</label>
    </div>
</div>